// responsive for tablet

@media screen and  (max-width: 970px) {
  header{
    height: 170px;
    nav{
      padding: 10px 10px 0 30px;
      .desktop-nav{
        display: none;
      }
      .social-media-logos{
        margin-left: 0;
      }
      .login-and-cart{
        .login-text{
          display: none;
        }
        .fa-bars{
          display: unset;
        }
      }
    }
    .lower-side{
      font-size: 14px;
      a{
        img{
          width: 170px;
        }
      }
    }
  }

  .floating-comment{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: 15px;
    right: 15px;
  }

  section{
    padding-top: 70px;
    .header{
      font-size: 50px;
      margin-bottom: 50px;
    }
    .text-container{
      padding: 0px 20% 100px 20%;
      .subtitle{
        font-size: 44px;
      }
      .margin-class{
        margin-top: 70px;
      }
      .mini-subtitle{
        font-size: 14px;
        margin-top: 15px;
        margin-bottom: 25px;
      }
      .text{
        font-size: 14px;
        line-height: 25px;
      }
      .first{
        margin-bottom: 25px;
      }
      .second{
        margin-bottom: 50px;
      }
    }
  }
}