@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: "raghaca";
  src: url(../../helvetica-neue-5/HelveticaNeueLight.otf);
  font-weight: 200;
}

@mixin flex-box($just: center, $ali: center, $dir: row, $gap: 0){
  display: flex;
  justify-content: $just;
  align-items: $ali;
  flex-direction: $dir;
  gap: $gap;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

header{
  width: 100%;
  height: 190px;
  background-color: black;
  color: white;
  nav {
    padding-inline: 80px 60px;
    height: 20%;
    background-color: #191919;
    @include flex-box($just: space-between);
    .sidebar{
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 100%;
      z-index: 9999;
      background-color: black;
      text-align: center;
      display: none;
      justify-content: flex-start;
      flex-direction: column;
      gap: 20px;
      font-size: 20px;
      li{
        width: 90%;
        &:nth-child(8) a{
          color: #ddfa61;
        }
        a{
          width: 100%;
          font-size: 20px;
          font-weight: bold;
          .fa-xmark{
            font-size: 30px;
            justify-self: flex-start;
            align-self: flex-end;
            position: absolute;
            top: 8px;
            right: 10px;
          }
        }
        .login-text{
          font-size: 15px;
          font-weight: 200;
          &:hover{
            color: rgb(200, 200, 200);
          }
        }
      }
      li:nth-child(2){
        margin-top: 30px;
        align-self: flex-end;
      }
      li:nth-child(8){
        color: #ddfa61;
      }
    }
    ul{
      cursor: pointer;
      list-style: none;
      @include flex-box($gap: 20px);
      li{
        a{
          text-decoration: none;
          color: white;
          font-size: 14px;
        }
      }
    }
    .social-media-logos{
      margin-left: 26%;
      gap: 16px;
      & a:first-child{
        font-size: 14px;
      }
      a{
        color: white;
        cursor: pointer;
      }
    }
    .login-and-cart{
      margin-right: 30px;
      font-size: 14px;
      @include flex-box($gap: 20px);
      .login-text{
        cursor: pointer;
        font-weight: 200;
      }
      .login-text:hover{
        color: rgb(200, 200, 200);
      }
      img{
          width: 26px;
          cursor: pointer;
          margin-bottom: 3px;
      }
      .cart-sidebar{
        display: none;
        position: fixed;
        z-index: 9999;
        top: 0;
        right: 0;
        height: 100vh;
        width: 425px;
        background-color: white;
        color: black;
        padding: 15px;
        .first{
          font-size: 20px;
          font-weight: 600;
          .second{
            font-size: 16px;
          }
        }
        .fa-xmark{
          position: absolute;
          right: 20px;
          top: 20px;
          font-size: 24px;
          cursor: pointer;
        }
        hr{
          margin-top: 14px;
        }
        p{
          font-size: 20px;
          font-weight: 600;
          text-align: center;
          margin-top: 140px;
        }
      }
      .background-darkener{
        display: none;
        position: fixed;
        z-index: 2000;
        top:0;
        left:0;
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100vh;
      }
      .fa-bars{
        font-size: 26px;
        display: none;
        cursor: pointer;
      }
    }
  }
  .lower-side{
    width: 100%;
    height: 80%;
    @include flex-box($dir: column, $gap: 10px);
    font-size: 15px;
    font-weight: 200;
    a{
      img{
        width: 185px;
        cursor: pointer;
      }    
    }
  }
}

//header end
//floating-comment:

.floating-comment{
  width: 64px;
  height: 64px;
  border-radius: 20px;
  background-color: black;
  position: fixed;
  z-index: 999;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  @include flex-box();
  img{
    width: 50%;
    height: 50%;
  }
}

.opened-comment{
  display: none;
  height: 500px;
  width: 340px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 20px;
  background-color: white;
  z-index: 999;
  overflow: hidden;
  .upper-side{
    height: 16%;
    padding: 18px 22px;
    position: relative;
    .receiver{
      font-size: 19px;
      font-weight: bold;
      sup{
        font-size: 11px;
      }
    }
    .active-status{
      display: flex;
      gap: 5px;
      align-items: center;
      margin-top: 0px;
      .green-dot{
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: #43B72A;
      }
      p{
        font-size: 14px;
        font-weight: 200;
        font-family: "raghaca";
      }
    }
    .fa-xmark{
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
      cursor: pointer;
    }
  }
  .middle-side{
    background-color: #BFBFBF;
    width: 100%;
    height: 71%;
  }
  .lower-side{
    height: 13%;
    max-height: 20%;
    position: relative;
    textarea{
      resize: none;
      width: 100%;
      height: 100%;
      outline: none;
      border: none;
      font-size: 16px;
      font-weight: bold;
      font-family: "Poppins", sans-serif;
      padding: 20px 70px 20px 22px;
      &::placeholder{
        font-family: "Poppins", sans-serif;
        color: black;
      }
    }
    .fa-face-smile{
      position: absolute;
      right: 50px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 16px;
      color: rgb(200, 200, 200);
      cursor: pointer;
      &:hover{
        color: black;
      }
    }
    .fa-paperclip{
      position: absolute;
      right: 25px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 16px;
      color: rgb(200, 200, 200);
      cursor: pointer;
      &:hover{
        color: black;
      }
    }
  }
}

main{
    animation: fadeOut .7s ease-out forwards;
}

@keyframes fadeOut {
    from{opacity: 0;}
    to{opacity: 1;}
}

section{
  padding-top: 90px;
  .header{
    text-align: center;
    font-size: 88px;
    margin-bottom: 70px;
  }
  .text-container{
    padding: 0px 25% 105px 25%;
    width: 100%;
    text-align: center;
    .subtitle{
      font-size: 72px;
      font-weight: 600;
    }
    .margin-class{
      margin-top: 85px;
    }
    .mini-subtitle{
      font-size: 15px;
      font-weight: 500;
      margin-top: 20px;
      margin-bottom: 30px;
    }
    .text{
      font-size: 15px;
      font-weight: 200;
      line-height: 28px;
    }
    .first{
      margin-bottom: 30px;
    }
    .second{
      margin-bottom: 60px;
    }
  }
}


//footer start

footer{
  min-height: 94vh;
  background-color: black;
  color: white;
  @include flex-box($dir: column);
  form {
    margin-top: 45px;
    margin-bottom: 76px;
    h1{
      font-size: 40px;
      text-align: center;
      font-weight: 600;
    }
    .email-container{
      margin-top: 20px;
      @include flex-box($ali: flex-start ,$dir: column, $gap: 10px);
      label{
        font-size: 14px;
        font-weight: bold;
      }
      input{
        border: 1px solid white;
        background-color: black;
        color: white;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        border-radius: 0;
        padding: 6px 12px;
        outline: none;
        width: 386px;
      }
    }
    .checkbox-container {
      @include flex-box($just: flex-start ,$gap: 10px);
      margin-top: 22px;
      input{
        appearance: none;
        border: 1px solid white;
        width: 16px;
        height: 16px;
        cursor: pointer;
        @include flex-box();
        &:after {
          content: "\f00c";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          color: white;
          font-size: 10px;
          display: none;
        }
        &:checked::after {
          display: unset;
        }
      }
      label{
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
      }
    }
    button[type="submit"]{
      margin-top: 25px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      border: 1px solid white;
      background-color: white;
      width: 386px;
      height: 42px;
      font-family: "Poppins", sans-serif;
      transition: .4s;
      &:hover{
        color: white;
        background-color: transparent;
        transition: .4s;
      }
    }
  }
  .address{
    font-weight: 200;
    @include flex-box($dir: column, $gap: 7px);
    margin-bottom: 22px;
    span{
      font-size: 15px;
      &:first-child{
        cursor: pointer;
      }
    }
  }
  .social-media-logos{
    @include flex-box($gap: 18px);
    margin-bottom: 45px;
    a{
      color: white;
      cursor: pointer;
      .fa-facebook-f{
        font-size: 14px;
      }
      .fa-instagram{
        font-size: 16px;
      }
      .fa-pinterest-p{
        font-size: 16px;
      }
    }
  }
  span{
    font-size: 14px;
    font-weight: 200;
    a{
      color: white;
    }
  }
}

//small responsive adjustments

@media screen and (max-width: 1070px){
  header{
    nav{
      padding-left: 40px;
      .login-and-cart{
        margin-right: 0px;
      }
    }
  }
  footer{
    padding-top: 10px;
    padding-bottom: 40px; 
  }
}