// responsive for small mobile

@media screen and (max-width: 400px) {
  section{
    padding-top: 35px;
    padding-bottom: 30px;
    .upper-container{
      width: 96%;
      h1{
        font-size: 32px;
      }
    }
    .lower-container{
      form{
        grid-template-columns: 300px;
      }
    }
  }
  footer{
    min-height: 80svh;
    padding-bottom: 40px;
    padding-top: 0;
    form{
      margin-bottom: 10px;
      h1{
        font-size: 30px;
      }
      .email-container{
        label{
          margin-left: 10px;
        }
        input{
          width: 340px;
          
          margin-left: 10px;
        }
      }
      .checkbox-container{
        input{
          margin-left: 10px;
        }
      }
      button[type="submit"]{
        width: 340px;
        margin-left: 10px;
      }
    }
    .address{
      span{
        font-size: 14px;
      }
    }
    .social-media-logos{
      margin-bottom: 20px;
    }
    span{
      font-size: 12px;
    }
  }
}


@media screen and (max-width: 350px) {
  section{
    .lower-container{
      form{
        grid-template-columns: 270px;
      }
    }
  }
  footer{
    form{
      .email-container{
        input{
          width: 300px;
        }
      }
      button[type="submit"]{
        width: 300px;
      }
    }
  }
}


@media screen and (max-width: 320px) {
  section{
    .lower-container{
      form{
        grid-template-columns: 250px;
      }
    }
  }
  footer{
    form{
      .email-container{
        input{
          width: 270px;
        }
      }
      button[type="submit"]{
        width: 270px;
      }
    }
  }
}