@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

header {
  width: 100%;
  height: 190px;
  background-color: black;
  color: white;
}
header nav {
  padding-inline: 80px 60px;
  height: 20%;
  background-color: #191919;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
header nav ul {
  cursor: pointer;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
header nav .social-media-logos {
  margin-left: 26%;
  gap: 16px;
  cursor: default;
}
header nav .social-media-logos span:first-child {
  font-size: 14px;
}
header nav .social-media-logos span {
  cursor: pointer;
}
header nav .login-and-cart {
  margin-right: 30px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
header nav .login-and-cart span {
  cursor: pointer;
  font-weight: 200;
}
header nav .login-and-cart span:hover {
  color: rgb(200, 200, 200);
}
header nav .login-and-cart img {
  width: 26px;
  cursor: pointer;
  margin-bottom: 3px;
}
header nav .fa-bars {
  font-size: 26px;
  display: none;
  cursor: pointer;
}
header .lower-side {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-size: 15px;
  font-weight: 200;
}
header .lower-side a img {
  width: 185px;
  cursor: pointer;
}

.section1 {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/banner_image.avif);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
.section1 .banner-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  width: 670px;
}
.section1 .banner-info h1 {
  font-size: 88px;
  line-height: 105px;
}
.section1 .banner-info span {
  font-size: 22px;
  font-weight: 600;
}
.section1 .banner-info button {
  margin-top: 30px;
}
.section1 .banner-info .darkening-btn {
  font-size: 18px;
  font-weight: bold;
  background: transparent;
  border: 3px solid black;
  border-radius: 50px;
  padding: 10px 18px;
  transition: 0.4s;
  cursor: pointer;
}
.section1 .banner-info .darkening-btn:hover {
  background-color: black;
  color: white;
  transition: 0.4s;
}

.section2 {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}
.section2 div {
  height: 440px;
  width: 430px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
.section2 div:nth-child(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/women_section_image.avif);
  background-position: right;
}
.section2 div:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url(../images/men_section_image.avif);
}
.section2 div:nth-child(3) {
  background-image: url(../images/sales_section_image.avif);
  background-position: right;
}
.section2 div a {
  color: white;
  font-weight: bold;
  font-size: 50px;
  text-decoration: none;
}

.section3 {
  height: 86.7vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/section3_image.avif);
  background-size: cover;
  background-position: center 30%;
  background-attachment: fixed;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
.section3 div {
  text-align: center;
  width: 830px;
}
.section3 div p:first-child {
  font-size: 72px;
  font-weight: bold;
  margin-bottom: -18px;
}
.section3 div p:nth-child(2) {
  font-size: 72px;
  font-weight: bold;
  text-decoration: underline;
}
.section3 div p:nth-child(3) {
  margin-top: 16px;
  font-size: 15px;
  line-height: 28px;
  font-weight: 200;
}

.section4 {
  height: 54vh;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 122px;
  padding-inline: 310px;
}
.section4 img {
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.section4 img:nth-child(1) {
  width: 148px;
}
.section4 img:nth-child(2) {
  width: 110px;
  margin-right: 26px;
}
.section4 img:nth-child(3) {
  width: 92px;
  margin-right: 32px;
}
.section4 img:nth-child(4) {
  width: 100px;
}/*# sourceMappingURL=style.css.map */