// responsive for small mobile

@media screen and (max-width: 400px) {
  .section1{
    .left-side{
      h1{
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
  .section2{
    h1{
      font-size: 32px;
      margin-bottom: 30px;
    }
    .grid-container{
      grid-auto-rows: 270px;
      div{
        p{
          margin-top: 10px;
          font-size: 14px;
        }
      }
    }
  }

  footer{
    min-height: 80svh;
    padding-bottom: 40px;
    padding-top: 0;
    form{
      margin-bottom: 10px;
      h1{
        font-size: 30px;
      }
      .email-container{
        label{
          margin-left: 10px;
        }
        input{
          width: 340px;
          
          margin-left: 10px;
        }
      }
      .checkbox-container{
        input{
          margin-left: 10px;
        }
      }
      button[type="submit"]{
        width: 340px;
        margin-left: 10px;
      }
    }
    .address{
      span{
        font-size: 14px;
      }
    }
    .social-media-logos{
      margin-bottom: 20px;
    }
    span{
      font-size: 12px;
    }
  }
}


@media screen and (max-width: 350px) {
  .section2{
    .grid-container{
      grid-auto-rows: 290px;
    }
  }

  footer{
    form{
      .email-container{
        input{
          width: 300px;
        }
      }
      button[type="submit"]{
        width: 300px;
      }
    }
  }
}


@media screen and (max-width: 320px) {
  
  .section2{
    .grid-container{
      grid-auto-rows: 320px;
    }
  }

  footer{
    form{
      .email-container{
        input{
          width: 270px;
        }
      }
      button[type="submit"]{
        width: 270px;
      }
    }
  }
}