// responsive for tablet

@media screen and  (max-width: 970px) {
  header{
    height: 170px;
    nav{
      padding: 10px 10px 0 30px;
      .desktop-nav{
        display: none;
      }
      .social-media-logos{
        margin-left: 0;
      }
      .login-and-cart{
        .login-text{
          display: none;
        }
        .fa-bars{
          display: unset;
        }
      }
    }
    .lower-side{
      font-size: 14px;
      a{
        img{
          width: 170px;
        }
      }
    }
  }

  .floating-comment{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: 15px;
    right: 15px;
  }

  section{
    .big-text{
      font-size: 50px;
    }
    .product-quantity{
      font-size: 14px;
    }
    .product-grid-container{
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
