// responsive for large mobile

@media screen and (max-width: 768px) {
  header{
    height: 140px;
    nav{
      height: 25%;
    }
    .lower-side{
      height: 75%;
      a{
        img{
          width: 77px;
        }
      }
    }
  }
  .floating-comment{
    width: 50px;
    height: 50px;
    bottom: 12px;
    right: 12px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
  }

  section{
    padding-top: 60px;
    .header{
      font-size: 40px;
      margin-bottom: 40px;
    }
    .text-container{
      padding: 0px 12% 70px 12%;
      .subtitle{
        font-size: 34px;
      }
      .mini-subtitle{
        margin-bottom: 20px;
      }
    }
  }

  footer{
    min-height: 94svh;
  }
}


@media screen and (max-height: 400px) and (orientation: landscape) {
  section{
    padding-top: 40px;
    .header{
      font-size: 32px;
      margin-bottom: 30px;
    }
    .text-container{
      .subtitle{
        font-size: 28px;
      }
      .mini-subtitle{
        margin-bottom: 10px;
        margin-top: 25px;
      }
      .margin-class{
        margin-top: 30px;
      }
      .second{
        margin-bottom: 30px;
      }
    }
  }
}