// responsive for tablet

@media screen and  (max-width: 970px) {
  header{
    height: 170px;
    nav{
      padding: 10px 10px 0 30px;
      .desktop-nav{
        display: none;
      }
      .social-media-logos{
        margin-left: 0;
      }
      .login-and-cart{
        .login-text{
          display: none;
        }
        .fa-bars{
          display: unset;
        }
      }
    }
    .lower-side{
      font-size: 14px;
      a{
        img{
          width: 170px;
        }
      }
    }
  }

  .floating-comment{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: 15px;
    right: 15px;
  }

  .section1{
    .left-side{
      padding: 40px 40px 0 40px;
    }
  }

  .section2{
    padding: 60px 50px 30px 50px;
    h1{
      font-size: 50px;
      margin-bottom: 70px;
    }
    .grid-container{
      grid-auto-rows: minmax(100px, 26vw);
      row-gap: 0;
      div{
        span{
          font-size: 18px;
        }
        p{
          margin-top: 20px;
        }
      }
    }
  }
}


@media screen and  (max-width: 865px) {
  .section2{
    .grid-container{
      grid-auto-rows: minmax(100px, 34vw);
    }
  }
}