@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "raghaca";
  src: url(../../helvetica-neue-5/HelveticaNeueLight.otf);
  font-weight: 200;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

header {
  width: 100%;
  height: 190px;
  background-color: black;
  color: white;
}
header nav {
  padding-inline: 80px 60px;
  height: 20%;
  background-color: #191919;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
header nav .sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 9999;
  background-color: black;
  text-align: center;
  display: none;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
}
header nav .sidebar li {
  width: 90%;
}
header nav .sidebar li:nth-child(4) a {
  color: #ddfa61;
}
header nav .sidebar li a {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}
header nav .sidebar li a .fa-xmark {
  font-size: 30px;
  justify-self: flex-start;
  align-self: flex-end;
  position: absolute;
  top: 8px;
  right: 10px;
}
header nav .sidebar li .login-text {
  font-size: 15px;
  font-weight: 200;
}
header nav .sidebar li .login-text:hover {
  color: rgb(200, 200, 200);
}
header nav .sidebar li:nth-child(2) {
  margin-top: 30px;
  align-self: flex-end;
}
header nav .sidebar li:nth-child(4) {
  color: #ddfa61;
}
header nav ul {
  cursor: pointer;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
header nav .social-media-logos {
  margin-left: 26%;
  gap: 16px;
}
header nav .social-media-logos a:first-child {
  font-size: 14px;
}
header nav .social-media-logos a {
  color: white;
  cursor: pointer;
}
header nav .login-and-cart {
  margin-right: 30px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
header nav .login-and-cart .login-text {
  cursor: pointer;
  font-weight: 200;
}
header nav .login-and-cart .login-text:hover {
  color: rgb(200, 200, 200);
}
header nav .login-and-cart img {
  width: 26px;
  cursor: pointer;
  margin-bottom: 3px;
}
header nav .login-and-cart .cart-sidebar {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  height: 100vh;
  width: 425px;
  background-color: white;
  color: black;
  padding: 15px;
}
header nav .login-and-cart .cart-sidebar .first {
  font-size: 20px;
  font-weight: 600;
}
header nav .login-and-cart .cart-sidebar .first .second {
  font-size: 16px;
}
header nav .login-and-cart .cart-sidebar .fa-xmark {
  margin-left: 247px;
  font-size: 24px;
  cursor: pointer;
}
header nav .login-and-cart .cart-sidebar hr {
  margin-top: 14px;
}
header nav .login-and-cart .cart-sidebar p {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 140px;
}
header nav .login-and-cart .background-darkener {
  display: none;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vh;
}
header nav .login-and-cart .fa-bars {
  font-size: 26px;
  display: none;
  cursor: pointer;
}
header .lower-side {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-size: 15px;
  font-weight: 200;
}
header .lower-side a img {
  width: 185px;
  cursor: pointer;
}

.floating-comment {
  width: 64px;
  height: 64px;
  border-radius: 20px;
  background-color: black;
  position: fixed;
  z-index: 999;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
.floating-comment img {
  width: 50%;
  height: 50%;
}

.opened-comment {
  display: none;
  height: 500px;
  width: 340px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 20px;
  background-color: white;
  z-index: 999;
  overflow: hidden;
}
.opened-comment .upper-side {
  height: 16%;
  padding: 18px 22px;
  position: relative;
}
.opened-comment .upper-side .receiver {
  font-size: 19px;
  font-weight: bold;
}
.opened-comment .upper-side .receiver sup {
  font-size: 11px;
}
.opened-comment .upper-side .active-status {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 0px;
}
.opened-comment .upper-side .active-status .green-dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #43B72A;
}
.opened-comment .upper-side .active-status p {
  font-size: 14px;
  font-weight: 200;
  font-family: "raghaca";
}
.opened-comment .upper-side .fa-xmark {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
}
.opened-comment .middle-side {
  background-color: #BFBFBF;
  width: 100%;
  height: 71%;
}
.opened-comment .lower-side {
  height: 13%;
  max-height: 20%;
  position: relative;
}
.opened-comment .lower-side textarea {
  resize: none;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  padding: 20px 70px 20px 22px;
}
.opened-comment .lower-side textarea::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  color: black;
}
.opened-comment .lower-side textarea::placeholder {
  font-family: "Poppins", sans-serif;
  color: black;
}
.opened-comment .lower-side .fa-face-smile {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: rgb(200, 200, 200);
  cursor: pointer;
}
.opened-comment .lower-side .fa-face-smile:hover {
  color: black;
}
.opened-comment .lower-side .fa-paperclip {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: rgb(200, 200, 200);
  cursor: pointer;
}
.opened-comment .lower-side .fa-paperclip:hover {
  color: black;
}

main {
  animation: fadeOut 0.7s ease-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
section {
  min-height: 220vh;
  padding: 26px 20px 46px 20px;
}
section .directory {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
section .directory a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 200;
}
section .directory a:hover {
  color: rgb(100, 100, 100);
}
section .directory span {
  font-size: 15px;
  font-weight: 200;
}
section .big-text {
  font-size: 88px;
  text-align: center;
  margin-bottom: 60px;
}
section .product-quantity {
  font-size: 15px;
  font-weight: 200;
}
section .product-grid-container {
  margin-top: 20px;
  display: grid;
  grid-auto-rows: minmax(300px, 35vw);
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 30px;
}
section .product-grid-container .product-card {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
section .product-grid-container .product-card:first-child span:first-child {
  display: none;
}
section .product-grid-container .product-card:nth-child(2) span:first-child {
  display: none;
}
section .product-grid-container .product-card:nth-child(3) span:first-child {
  display: none;
}
section .product-grid-container .product-card:nth-child(7) span:first-child {
  display: none;
}
section .product-grid-container .product-card:nth-child(8) span:first-child {
  display: none;
}
section .product-grid-container .product-card:nth-child(11) span:first-child {
  display: none;
}
section .product-grid-container .product-card img {
  width: 100%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  cursor: pointer;
}
section .product-grid-container .product-card .new-tag {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: black;
  padding: 2px 12px;
  text-align: center;
  cursor: pointer;
}
section .product-grid-container .product-card .im-product-text {
  font-size: 15px;
  font-weight: 200;
  margin-top: 15px;
  cursor: pointer;
}
section .product-grid-container .product-card .product-price {
  font-size: 15px;
  font-weight: 200;
  cursor: pointer;
}
section .product-grid-container .product-card .product-price .discount {
  text-decoration: line-through;
}
section .product-grid-container .product-card .discount {
  font-size: 15px;
  font-weight: 200;
}
section .load-btn {
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
  background-color: white;
  border: 1px solid black;
  font-size: 15px;
  font-weight: 200;
  padding: 12px 65px;
  display: block;
  margin-inline: auto;
  border-radius: 1px;
  cursor: pointer;
}
section .load-btn:hover {
  text-decoration: underline;
}

footer {
  min-height: 94vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
}
footer form {
  margin-top: 45px;
  margin-bottom: 76px;
}
footer form h1 {
  font-size: 40px;
  text-align: center;
  font-weight: 600;
}
footer form .email-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
footer form .email-container label {
  font-size: 14px;
  font-weight: bold;
}
footer form .email-container input {
  border: 1px solid white;
  background-color: black;
  color: white;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  border-radius: 0;
  padding: 6px 12px;
  outline: none;
  width: 386px;
}
footer form .checkbox-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin-top: 22px;
}
footer form .checkbox-container input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid white;
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
footer form .checkbox-container input:after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: white;
  font-size: 10px;
  display: none;
}
footer form .checkbox-container input:checked::after {
  display: unset;
}
footer form .checkbox-container label {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
footer form button[type=submit] {
  margin-top: 25px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid white;
  background-color: white;
  width: 386px;
  height: 42px;
  font-family: "Poppins", sans-serif;
  transition: 0.4s;
}
footer form button[type=submit]:hover {
  color: white;
  background-color: transparent;
  transition: 0.4s;
}
footer .address {
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 22px;
}
footer .address span {
  font-size: 15px;
}
footer .address span:first-child {
  cursor: pointer;
}
footer .social-media-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 18px;
  margin-bottom: 45px;
}
footer .social-media-logos a {
  color: white;
  cursor: pointer;
}
footer .social-media-logos a .fa-facebook-f {
  font-size: 14px;
}
footer .social-media-logos a .fa-instagram {
  font-size: 16px;
}
footer .social-media-logos a .fa-pinterest-p {
  font-size: 16px;
}
footer span {
  font-size: 14px;
  font-weight: 200;
}
footer span a {
  color: white;
}

@media screen and (max-width: 1070px) {
  header nav {
    padding-left: 40px;
  }
  header nav .login-and-cart {
    margin-right: 0px;
  }
  footer {
    padding-top: 10px;
    padding-bottom: 40px;
  }
}/*# sourceMappingURL=women.css.map */