// responsive for large mobile

@mixin flex-box($just: center, $ali: center, $dir: row, $gap: 0){
    display: flex;
    justify-content: $just;
    align-items: $ali;
    flex-direction: $dir;
    gap: $gap;
}

@media screen and (max-width: 768px)  {
  header{
    height: 140px;
    nav{
      height: 25%;
    }
    .lower-side{
      height: 75%;
      a{
        img{
          width: 77px;
        }
      }
    }
  }

  .floating-comment{
    width: 50px;
    height: 50px;
    bottom: 12px;
    right: 12px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
  }

  .opened-comment{
    border-radius: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100dvh;
  }

  main{
    animation: none;
  }

//section 1 and mobile-section1

  .section1{
    height: 37.5dvh;
    background-position: 50% 40%;
    background-attachment: scroll;
    display: block;
    .banner-info{
      display: none;
    }
  }

  .mobile-section1{
    height: 46dvh;
    @include flex-box();
    }

//section2 start

  .section2{
    min-height: 80dvh;
    gap: 0;
    flex-direction: column;
    div{
      width: 100%;
      height: 250px;
      background-position: top;
      &:nth-child(1){
        background-position: top;
      }
      &:nth-child(3){
        background-position: top;
      }
      a{
        font-size: 26px;
      }
    }
  }

//section3 start
  
  .section3{
    height: 59.1dvh;
    background-attachment: scroll;
    background-position: 10% center;
    div{
      width: 420px;
      p:first-child{
        font-size: 28px;
      }
      p:nth-child(2){
        font-size: 28px;
      }
      p:nth-child(3){
        font-size: 14px;
        line-height: 24px;
      }
    }
  }

//section4 start

  .section4{
    min-height: 54dvh;
    padding-top: 10px;
    padding-bottom: 30px;
    .grid-logo-container{
      grid-template-columns: 1fr;
    }
  }

//section5 start

  .section5{
    min-height: 83dvh;
    padding-top: 35px;
    h1{
      font-size: 32px;
      margin-bottom: 55px;
    }
    .product-container{
      .product-card{
        width: 240px;
        height: 376px;
        &:nth-child(4){
        display: none;
        }
      }
    }
  }

//section6 start

  .section6{
    height: 32dvh;
    a:first-child{
      font-size: 32px;
    }
    a:nth-child(2){
      text-align: center;
      font-size: 24px;
      width: 200px;
    }
  }

//section7 start 

  .section7{
    padding-bottom: 20px;
    .s7-image-container{
      min-height: 70dvh;
      width: 92%;
      gap: 10px;
      .s7-image{
        &:nth-child(7){
          display: unset;
        }
        &:nth-child(8){
          display: unset;
        }
        &:nth-child(9){
          display: unset;
        }
        &:nth-child(10){
          display: unset;
        }
        &:nth-child(11){
          display: unset;
        }
        &:nth-child(12){
          display: unset;
        }
        a{
          font-size: 12px;
        }
      }
    }
    .darkening-btn{
      display: none;
    }
  }

  footer{
    min-height: 94dvh;
  }
}

//landscape

@media screen and (max-height: 400px) and (orientation: landscape) {
    .section1{
      height: 80dvh;
      background-position: center;
      .banner-info{
        display: none;
      }
    }
    .mobile-section1{
      height: 100dvh;
    }
    .section3{
      height: 100dvh;
    }
    .section5{
      padding-bottom: 20px;
      h1{
        margin-bottom: 20px;
      }
    }
    .section6{
      height: 60dvh;
    }

    footer{
      form{
        margin-top: 30px;
        margin-bottom: 50px;
      }
    }
}